
<div class="ui form">
  <h4 class="ui dividing header">{{abm_grupo._action}} grupo</h4>
  <div class="field">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" ng-model="abm_grupo.title">
  </div>

  <button class="ui green button" ng-click="saveGroup()">Enviar</button>
</div>
