<div class="ui dividing header">
  <div class="content">
    Descargas
  </div>
  <div class="actions" >
    <a ng-click="createGroup()" class="ui tiny button" ng-if="auth.is_admin()"><i class="plus icon"></i> crear grupo</a>
  </div>
</div>



<div class="ui stackable three column grid" ng-if="groups">
    <div class="column" ng-repeat="group in groups">

      <div class="ui teal attached segment">
        {{group.title}}
      </div>

      <div class="ui attached segment" ng-if="group.files.length > 0">
          <div class="ui relaxed divided list">
            <li class="item" ng-repeat="file in group.files">
              <i class="large {{file.name | fileTypeIcon }} middle aligned icon"></i>

              <div class="content">
                  <a ng-click="remove_file(file._id, group._id)" class="ui icon button" ng-if="auth.is_admin()">
                    <i class="icon remove"></i>
                  </a>
                  <a class="header" ng-href="{{file.path}}" ng-click="download(file)">{{file.name}}</a>
                  <p class="description">{{file.size | fileSize }}</p>

              </div>
            </li>
          </div>
      </div>

      <div class="ui attached segment" ng-if="auth.is_admin()">
        <div class="ui left attached button green" ngf-select ngf-change="upload($files, group._id)" ng-class="{loading: active_upload(group._id), yellow: active_upload(group._id), green: !active_upload(group._id)}">Subir archivo</div>
        <button class="right attached ui button red" ng-click="deleteGrupo(group)">Eliminar grupo</button>
      </div>

      <div class="ui bottom attached segment indicating progress active" ng-if="active_upload(group._id)" data-percent="{{_actives[group._id]}}">
        <div class="bar" style="transition-duration: 300ms; width: {{_actives[group._id]}}%;"></div>
      </div>
    </div>
</div>
