<div class="ui dividing header">
  <div class="content">
    Disponibilidad de productos
  </div>
</div>

<section class="actions pedidos">
    <section class="search">
        <div class="field">
            <div class="ui left icon input fluid">
                <i class="search icon"></i>
                <input type="text" ng-model="search" value="{{search}}" placeholder="Buscar productos"/ ng-keypress="evalKey($event)">
            </div>
        </div>

        <button class="ui left attached button" ng-click="buscarCodigoProducto()">Código</button>
        <button class="right attached ui button" ng-click="buscarCodigoCliente()">Código cliente</button>

    </section>
</section>

<div style="margin-top:1em;">
  <div class="sixteen wide column" ng-if="notificaciones.length > 0">
    <div ng-repeat="message in notificaciones" class="ui icon message" ng-class="message.type">
      <i class="close icon" ng-click="removeNotification($index)"></i>
      <i class="{{message.icon}} icon"></i>
      <div class="content">
        <div class="header" ng-if="message.header">
          {{message.header}}
        </div>
        <p>{{message.body}}</p>
      </div>
    </div>
  </div>

  <div  class=" sixteen wide column" ng-if="items.length > 0">
    <table class="ui celled striped black table">
        <thead>
          <tr>
            <th>Código</th>
            <th>Descripcion</th>
            <th ng-show="showCantidad" class="right aligned">Cantidad</th>
            <th>Disponibilidad</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in items" ng-init="disp = item.stockactual1 > item.stockminimo ? 1 : (  item.stockactual1  > 0 ? 0 : -1 ) ">
            <td>{{item.CODPRODUCTO}}</td>
            <td>{{item.NOMBRE}}</td>
            <td ng-show="showCantidad" class="right aligned">{{item.stockactual1}}</td>
            <td ng-switch="disp">
                <span ng-switch-when="1" class="ui green label" style="display:block; width:100%; text-align:center">Disponible</span>
                <span ng-switch-when="0" class="ui yellow label" style="display:block; width:100%; text-align:center">Consultar</span>
                <span ng-switch-when="-1" class="ui red label" style="display:block; width:100%; text-align:center">No Disponible</span>

            </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
