<div class="ui dividing header">
  <div class="content">
    Nuevo Pedido
  </div>
  <section class="referencias">
       <span class="ui green empty circular label"></span> Disponible
       <span class="ui yellow empty circular label"></span> Consultar Disponibilidad
       <span class="ui red empty circular label"></span> No Disponible
  </section>
</div>

<section class="actions pedidos">
    <section class="search">
        <div class="field">
            <div class="ui left icon input fluid">
                <i class="search icon"></i>
                <input type="text" ng-model="search" value="{{search}}" placeholder="Buscar productos" ng-keypress="evalKey($event)" />
            </div>
        </div>
          <button class="ui left attached button" ng-click="buscarCodigoProducto()">Código</button>
          <button class="right attached ui button" ng-click="buscarCodigoCliente()">Código cliente</button>

    </section>

    <section class="excel">
        <div class="ui secondary button" ngf-select ngf-change="upload($files)">Importar excel</div>
    </section>

</section>

<div style="margin-top:1em;">
    <div class="sixteen wide column" ng-if="notificaciones.length > 0">

      <button class="ui button primary" ng-click="clearNotificaciones()">Cerrar todas las notificaciones</button>

      <div ng-repeat="message in notificaciones" class="ui icon message" ng-class="message.type">
        <i class="close icon" ng-click="removeNotification($index)"></i>
        <i class="{{message.icon}} icon"></i>
        <div class="content">
          <div class="header" ng-if="message.header">
            {{message.header}}
          </div>
          <p>{{message.body}}</p>
        </div>
      </div>
    </div>

    <!-- Prueba vista cards:
    <div  class=" sixteen wide column" ng-if="resultados.length > 0">
      <h2 class="ui header">Resultados</h2>

      <div class="ui three column grid">
        <div class="column" ng-repeat="item in resultados" ng-init="disp = item.stockactual1 > item.stockminimo ? 1 : (  item.stockactual1  > 0 ? 0 : -1 ) ">
          <div class="ui card fluid">
            <div class="content">
              <i class="right floated like icon"></i>
              <div class="header">{{ item.CodProducto }}</div>
              <div class="description">
                <p>{{ item.Nombre }}</p>
              </div>
            </div>
            <div class="extra content">
              <span class="left floated like">
                <i class="like icon"></i>
                Like
              </span>
              <span class="right floated star">
                <i class="star icon"></i>
                Favorite
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    -->


    <!-- Vista con tabalas  ver si la toma ahora la reputisima madre -->
    <div  class=" sixteen wide column" ng-if="resultados.length > 0">
            <table class="ui celled striped black table pedidos" >
                <thead>
                    <tr>
                        <th>Código       </th>
                        <th>Descripción  </th>
                        <th ng-show="showPrice">Precio </th>
                        <th>Stock        </th>
                        <th class="right aligned">Cantidad     </th>
                        <th class="right aligned">Bonificacion</th>
                        <th class="right aligned">Bonificacion 2</th>
                        <th>Detalle      </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in resultados" ng-init="disp = item.stockactual1 > item.stockminimo ? 1 : (  item.stockactual1  > 0 ? 0 : -1 ) ">

                        <td> {{ item.CodProducto }}              </td>
                        <td> {{ item.Nombre }}                   </td>
                        <td class="right aligned" ng-if="showPrice"> {{ item.Precio | currency:"$":2 }} </td>
                        <td class="right aligned" ng-switch="disp">
                            <div ng-switch-when="1"  class="ui green horizontal label" ng-class="{empty: !showCantidad}"><span ng-if="showCantidad"> {{item.stockactual1}}  </span></div>
                            <div ng-switch-when="0"  class="ui yellow horizontal label" ng-class="{empty: !showCantidad}"><span ng-if="showCantidad"> {{item.stockactual1}}  </span></div>
                            <div ng-switch-when="-1" class="ui red horizontal label" ng-class="{empty: !showCantidad}"><span ng-if="showCantidad"> {{item.stockactual1}}  </span></div>
                        </td>
                        <td>
                            <div class="ui mini input">
                                <input name="{{item.CodProducto}}" type="number" ng-model="order[item.CodProducto].cantidad" size="3" maxlength="7" ng-keypress="evalKeyItem($event, 'number')" min="0">
                            </div>
                        </td>
                        <td>
                            <div class="ui mini input">
                                <input name="{{item.CodProducto}}" type="number" ng-model="order[item.CodProducto].descuento" size="3" maxlength="7" ng-keypress="evalKeyItem($event, 'number')" min="0">
                            </div>
                        </td>
                        <td>
                            <div class="ui mini input">
                                <input name="{{item.CodProducto}}" type="number" ng-model="order[item.CodProducto].descuento2" size="3" maxlength="7" ng-keypress="evalKeyItem($event, 'number')" min="0">
                            </div>
                        </td>
                        <td>
                            <div class="ui small input fluid">
                                <input name="{{item.CodProducto}}" type="text" ng-model="order[item.CodProducto].detalle"  size="15" maxlength="50" ng-keypress="evalKeyItem($event)">
                            </div>
                        </td>

                    </tr>

                </tbody>
            </table>
            <div class="ui one column stackable center aligned page grid">
               <div class="column twelve wide">
                  <button type="submit" name="Confirmar" id="Confirmar" class="ui blue button" ng-click="crearPedido()">
                    <i class="add to cart icon"></i> Agregar
                  </button>
               </div>
            </div>
    </div>
</div>


<div class="ui stackable grid" ng-if="errores_importacion.length > 0 ">

  <div class="row">
    <div class="column">
        <button class="ui button primary" ng-click="clearNotificaciones()">Cerrar todas las notificaciones</button>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div ng-repeat="message in errores_importacion" class="ui icon message error">
        <i class="close icon" ng-click="removeError($index)"></i>
        <i class="remove circle icon"></i>
        <div class="content">
          <div class="header" ng-if="message.header">
            {{message.header}}
          </div>
          <p>{{message.message}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui stackable grid" ng-if="pendings.length > 0">
    <div class="row">
        <div class="column">
                <div class="ui top attached header">Pedido Pendiente</div>
                <div class="ui attached segment message">
                    <input value="Confirmar Pedido" ng-click="confirm()" class="ui button black"><span class="Estilo11 Estilo12">Para eliminar su pedido haga click <a href="#" ng-click="deleteAll($event)" class="tiny ui button red">aqui</a></span>
                 </div>
        </div>
    </div>
    <div class="row">
        <div  class="column">
            <div class="ui attached tall stacked segment">
                <table class="ui celled striped black table">
                    <thead>
                        <tr>
                            <th>Fecha        </th>
                            <th>Código       </th>
                            <th>Descripción  </th>
                            <th class="right aligned">Cantidad     </th>
                            <th class="right aligned">Descuento     </th>
                            <th>Detalle      </th>
                            <th>Eliminar     </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in pendings">
                            <td> {{ item.Fecha | date:"dd/MM/yyyy"}} </td>
                            <td> {{ item.CodProducto }}              </td>
                            <td> {{ item.Nombre }}                   </td>
                            <td class="right aligned"> {{ item.Cantidad }}                 </td>
                            <td class="right aligned"> {{ item.Descuento }}                 </td>
                            <td> {{ item.Detalle }}                  </td>
                            <td>
                                <a ng-click="deleteItem( item.Registro )" class="mini ui button"><i class="trash outline icon"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
