<section class="post">
    <ol class="breadcrumb">
        <li><a href="#/">Blog</a></li>
        <li class="active">Log Out</li>
    </ol>

    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="logOut()">Log Out</button>
            </div>
        </div>
    </form>
</section>