<div class="main container" ng-show="!auth.logged">
  <div class="ui hidden divider"></div>

  <div showiniframe style="display:none">
    <div class="ui grid centered">
      <button class="ui black button" name="Conectar" id="Conectar" onclick="javascript:void window.open('/','1425581208201','width='+screen.width+',height='+ screen.height+',toolbar=0,menubar=0,location=0,status=0,scrollbars=0,resizable=1,left=0,top=0');return false;">
        <i class="sign in icon"></i> Ingresar
      </button>
    </div>
  </div>

  <div hideiniframe style="display:none">
    <div class="ui grid centered">
      <div class="row">
        <div class="column fifteen wide">
            <div class="ui top attached header">
                .: {{ empresa.EMPRESA }} :.
            </div>
            <div class="ui attached negative message" ng-if="taba.error">
              <p><strong>[Error Nº: {{taba.error.level}}]:</strong> {{ taba.error.content }}</p>
            </div>
            <div class="ui attached stacked segment">
                <form method="POST" class="ui form">
                    <div class="two fields">
                      <div class="required field">
                        <label>Usuario</label>
                        <div class="ui icon input">
                          <input type="text" placeholder="Usuario"  ng-model="user.username">
                          <i class="user icon"></i>
                        </div>
                      </div>
                      <div class="required field">
                        <label>Clave</label>
                        <div class="ui icon input">
                          <input type="password" name="clave" id="clave" ng-model="user.password">
                          <i class="lock icon"></i>
                        </div>
                      </div>
                    </div>

                    <div class="ui one column stackable center aligned page grid">
                       <div class="column twelve wide">
                          <button type="submit" class="ui blue button" ng-click="signIn(user.username, user.password)">
                            <i class="sign in icon"></i> Ingresar
                          </button>
                       </div>
                    </div>
                </form>

            </div>
            <!--
            <div class="ui hidden divider"></div>

            <div style="text-align:center">
              <button class="ui black button" name="Conectar" id="Conectar" onclick="javascript:void window.open('/index.asp','1425581208201','width='+screen.width+',height='+ screen.height+',toolbar=0,menubar=0,location=0,status=0,scrollbars=0,resizable=1,left=0,top=0');return false;">
                <i class="sign in icon"></i> Pantalla completa
              </button>
            </div>
            -->
        </div>

      </div>
    </div>
  </div>
</div>
