#mobile_menu {
    background:#000;

    .ui.vertical.menu {
      width: 100%;
    }
}


.show_main_menu,
.show_full {
  display:none;
} 

.button.toggle-button {
      display: block;
      width: 100%;
      border: none;
      padding: 0.8em;
      font-size: 1.2em;
      background-color: #C5F2FF;
      margin:0 0 0.5em;
}

@media only screen and (min-width: 910px) {
  .show_full {
    display:block;
  }
  .show_main_menu {
    display:block;
    padding:0 0 0.5em;
  }
  .show_mobile {
    display:none;
  }
}

#content_panel.open_menu {
    position:fixed;
    width: 100%;
    height: 100%;
}
