$tabaColor : #00b5ad;
$colorScope : $tabaColor;

@import 'menu';

.fixnav {
    width: 100%;
    position: fixed;
    top:0;
    z-index: 100;
}

.searchResults {
    background: rgba(255, 255, 255, 0.98);
    border: solid 1px rgba(0,0,0,0.1);
    position: fixed;

    z-index: 10;
    width: 100%;
    height: 100%;

    .ui.list {
        height: 100%;
        overflow: auto;
        padding: 0 0 8em;
    }

    .item {
        cursor: pointer;
        padding:0.5em;

        &:nth-child(even) {
            background: rgba(255,255,255,0.9)
        }
        &:nth-child(odd) {
            background: rgba(0, 0, 0, 0.02)
        }

        &:hover {
            background: #05D9FF;
        }
    }
}

.taba.display {
  background-color: rgba(35, 41, 53, 0.95);

  .header {
      padding-left: 5px;
      padding-top: 10px;
  }
}



.ui.tabaColor {
    $_colorScope : $colorScope;
    $colorScope : #FFF;
    &.dividing {
        &.vendedor {
            cursor:pointer;
        }
    }

    &.header {
        color: $colorScope !important;
        box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.5);

        .sub.header {
            color: lighten($colorScope, 10%);
            font-size: 0.8em;
        }
    }
    $colorScope : $_colorScope;
}
.ui.header.dividing {

    .icon {
        margin-right: 0;
    }

    .referencias {
        float: right;
        font-size: 0.6em;
    }
}

.taba.section {
    padding:15px 20px;
}

.pusher > .ng-scope {
  padding: 0.5em 0.5em 0;
}

section.actions {
    @extend %cf;
}

section.actions.pedidos {
    section.search {
        @extend %cf;
        float: left;
        width: 500px;
    }

}

.ui.dividing.header {
  @extend %cf;

  .actions {
    float:right;
  }

}


section.search {
    .field {
        float:left;
        width: 250px;
        margin: 0 5px 0 0;
    }
    .ui.buttons {
    }
}


@media only screen and (max-width: 500px) {
    section.actions.pedidos {
        section.search {
            float: none;
            width: 100%;

            .field {
                float: none;
                width: 100%;
                margin: 0 0 0.5em
            }

            .ui.buttons {
                margin: 0 0em 0.5em;
            }
        }
    }
}

.ui.table tr td {
    border-left: solid 1px #D4D4D4;
}

.text.align {
    &.left {
        text-align: left;
    }
    &.center {
        text-align: center;
    }
    &.right {
        text-align: right;
    }
}

.ui.horizontal.label.empty {
    padding: 1em 0.5em;
}

.saldo_negativo {
    color: red;
}

.taba.comprobante {
    font-size: 0.8em;
    .header {
        @extend %cf;
        h2 {
            float:left;
        }
        h3 {
            float: right;
            margin: 0.4em 0 0;
        }
    }

    .cliente , .bonificaciones{
        p {
            margin:0;
        }

        .dato {
            display: inline-block;
            padding: 0.5em 1em 0.5em 0;
        }
    }

    .resumen {
        @extend %cf;
    }

    .bonificaciones {
        float:left;
    }

    .subtotales {
        float:right;
        width: 220px;
    }
}

label.file {
      position: relative;
      overflow: hidden;
      cursor: pointer;

    input[type="file"] {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      opacity: 0;
      font-size: 1px;
      filter: alpha(opacity=0);
      cursor: pointer;
      width: 10px;
      height: 10px;
    }

}

.taba.import.excel {
    .body {
        max-height: 480px;
        overflow: auto;
        overflow-x : hidden;
    }
}

@media only screen and (min-width: 800px) {
  .main.ui.container {
    margin: 0.4em 0;
    width: 100%;
    padding: 0 1em;
  }
}

table.pedidos th:nth-child(n+5) {
  width: 90px;
  font-size: 0.8em;
}


table.pedidos th:nth-child(1) {
  width: 80px
}

table.pedidos th:nth-child(2) {
  width: 400px
}

table.pedidos th:nth-child(n+8) {
  width: 22%
}


table.pedidos .ui.mini.input input {
  max-width: 70px;
}
