@import 'taba/mixins';
@import 'crono/clean';
@import 'taba/ui';

html, body {
     position: relative;
  min-height: 100%;
  height: 100%;
}
body {
  padding: 0;
  background: #FFFFFF;

}

/*
body [ng-view] {
  padding:0 0.5em 0 1em;
}
*/


div.ngrs-value-runner > div.ngrs-value {
	  display: block !important;
  font-size: 2em;
  line-height: 1em;
  color: #2868A0;;
}



//@media only screen and (max-width: 800px) {
	.ui.icon.header {
		font-size:0.9em;
		.content {
			display:none;
		}
	}

//}




@media only screen and (min-width: 800px) {
  .ui.icon.header {
    font-size:1.15em;

    .content {
			display:block;
		}
  }
}


.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

#content_panel {
  padding: 35px 0 0;
  background: #FFF;

}
