[layout],
[row], .stage, .ui.panel, section.actions, section.actions.pedidos section.search, .ui.dividing.header, .taba.comprobante .header, .taba.comprobante .resumen {
  zoom: 1; }
  [layout]:after,
  [row]:after, .stage:after, .ui.panel:after, section.actions:after, section.actions.pedidos section.search:after, .ui.dividing.header:after, .taba.comprobante .header:after, .taba.comprobante .resumen:after, [layout]:before,
  [row]:before, .stage:before, .ui.panel:before, section.actions:before, section.actions.pedidos section.search:before, .ui.dividing.header:before, .taba.comprobante .header:before, .taba.comprobante .resumen:before {
    content: "";
    display: table; }
  [layout]:after,
  [row]:after, .stage:after, .ui.panel:after, section.actions:after, section.actions.pedidos section.search:after, .ui.dividing.header:after, .taba.comprobante .header:after, .taba.comprobante .resumen:after {
    clear: both; }

body {
  background: #f0f0f0; }

/*! ng-dialog - v0.3.12 (https://github.com/likeastore/ngDialog) */
@-webkit-keyframes ngdialog-fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes ngdialog-fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes ngdialog-fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes ngdialog-fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.ngdialog {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.ngdialog *, .ngdialog :after, .ngdialog :before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.ngdialog {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.ngdialog-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein .5s;
  animation: ngdialog-fadein .5s; }

.ngdialog.ngdialog-closing .ngdialog-overlay {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout .5s;
  animation: ngdialog-fadeout .5s; }

.ngdialog-content {
  background: #fff;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein .5s;
  animation: ngdialog-fadein .5s; }

.ngdialog.ngdialog-closing .ngdialog-content {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout .5s;
  animation: ngdialog-fadeout .5s; }

.ngdialog-close:before {
  font-family: Helvetica,Arial,sans-serif;
  content: '\00D7';
  cursor: pointer; }

body.ngdialog-open {
  overflow: hidden; }

@-webkit-keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px); } }

@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px); } }

.ngdialog.ngdialog-theme-default {
  padding-bottom: 160px;
  padding-top: 160px; }

.ngdialog.ngdialog-theme-default.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-flyout .5s;
  animation: ngdialog-flyout .5s; }

.ngdialog.ngdialog-theme-default .ngdialog-content {
  -webkit-animation: ngdialog-flyin .5s;
  animation: ngdialog-flyin .5s;
  background: #f0f0f0;
  border-radius: 5px;
  color: #444;
  font-family: 'Helvetica',sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  width: 450px; }

.ngdialog.ngdialog-theme-default .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0; }

.ngdialog.ngdialog-theme-default .ngdialog-close:before {
  background: transparent;
  border-radius: 3px;
  color: #bbb;
  content: '\00D7';
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 30px; }

.ngdialog.ngdialog-theme-default .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-default .ngdialog-close:active:before {
  color: #777; }

.ngdialog.ngdialog-theme-default .ngdialog-message {
  margin-bottom: .5em; }

.ngdialog.ngdialog-theme-default .ngdialog-input {
  margin-bottom: 1em; }

.ngdialog.ngdialog-theme-default .ngdialog-input textarea,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="text"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="password"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="email"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="url"] {
  background: #fff;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 .25em;
  min-height: 2.5em;
  padding: .25em .67em;
  width: 100%; }

.ngdialog.ngdialog-theme-default .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="text"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="password"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="email"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="url"]:focus {
  -webkit-box-shadow: inset 0 0 0 2px #8dbdf1;
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none; }

.ngdialog.ngdialog-theme-default .ngdialog-buttons {
  *zoom: 1; }

.ngdialog.ngdialog-theme-default .ngdialog-buttons:after {
  content: '';
  display: table;
  clear: both; }

.ngdialog.ngdialog-theme-default .ngdialog-button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase; }

.ngdialog.ngdialog-theme-default .ngdialog-button:focus {
  -webkit-animation: ngdialog-pulse 1.1s infinite;
  animation: ngdialog-pulse 1.1s infinite;
  outline: none; }

@media (max-width: 568px) {
  .ngdialog.ngdialog-theme-default .ngdialog-button:focus {
    -webkit-animation: none;
    animation: none; } }

.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-primary {
  background: #3288e6;
  color: #fff; }

.ngdialog.ngdialog-theme-default .ngdialog-button.ngdialog-button-secondary {
  background: #e0e0e0;
  color: #777; }

body > .stage:first-child {
  margin-top: 1em; }

.stage {
  padding: 1em; }

.stage.main {
  max-width: 90%;
  margin-left: 5%;
  background: #FFF; }

.ui.panel {
  background: url("../img/strip_01.png");
  text-align: center;
  padding: 0.5em; }
  .ui.panel label {
    margin: 0 auto;
    display: inline-block;
    padding: 1em;
    background: #FFF; }

.ui.modules .item {
  position: relative;
  cursor: pointer; }
  .ui.modules .item .ui.label {
    border-color: transparent; }

.stage.main .left.panel {
  width: 60px; }

.stage.main .right.panel {
  width: calc(100% - 70px); }

.stage.main .left.panel, .stage.main .right.panel {
  float: left; }

.tab-content {
  padding: 0.5em;
  border-left: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  border-right: solid 1px #ddd; }

#mobile_menu {
  background: #000; }
  #mobile_menu .ui.vertical.menu {
    width: 100%; }

.show_main_menu,
.show_full {
  display: none; }

.button.toggle-button {
  display: block;
  width: 100%;
  border: none;
  padding: 0.8em;
  font-size: 1.2em;
  background-color: #C5F2FF;
  margin: 0 0 0.5em; }

@media only screen and (min-width: 910px) {
  .show_full {
    display: block; }
  .show_main_menu {
    display: block;
    padding: 0 0 0.5em; }
  .show_mobile {
    display: none; } }

#content_panel.open_menu {
  position: fixed;
  width: 100%;
  height: 100%; }

.fixnav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100; }

.searchResults {
  background: rgba(255, 255, 255, 0.98);
  border: solid 1px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%; }
  .searchResults .ui.list {
    height: 100%;
    overflow: auto;
    padding: 0 0 8em; }
  .searchResults .item {
    cursor: pointer;
    padding: 0.5em; }
    .searchResults .item:nth-child(even) {
      background: rgba(255, 255, 255, 0.9); }
    .searchResults .item:nth-child(odd) {
      background: rgba(0, 0, 0, 0.02); }
    .searchResults .item:hover {
      background: #05D9FF; }

.taba.display {
  background-color: rgba(35, 41, 53, 0.95); }
  .taba.display .header {
    padding-left: 5px;
    padding-top: 10px; }

.ui.tabaColor.dividing.vendedor {
  cursor: pointer; }

.ui.tabaColor.header {
  color: #FFF !important;
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.5); }
  .ui.tabaColor.header .sub.header {
    color: white;
    font-size: 0.8em; }

.ui.header.dividing .icon {
  margin-right: 0; }

.ui.header.dividing .referencias {
  float: right;
  font-size: 0.6em; }

.taba.section {
  padding: 15px 20px; }

.pusher > .ng-scope {
  padding: 0.5em 0.5em 0; }

section.actions.pedidos section.search {
  float: left;
  width: 500px; }

.ui.dividing.header .actions {
  float: right; }

section.search .field {
  float: left;
  width: 250px;
  margin: 0 5px 0 0; }

@media only screen and (max-width: 500px) {
  section.actions.pedidos section.search {
    float: none;
    width: 100%; }
    section.actions.pedidos section.search .field {
      float: none;
      width: 100%;
      margin: 0 0 0.5em; }
    section.actions.pedidos section.search .ui.buttons {
      margin: 0 0em 0.5em; } }

.ui.table tr td {
  border-left: solid 1px #D4D4D4; }

.text.align.left {
  text-align: left; }

.text.align.center {
  text-align: center; }

.text.align.right {
  text-align: right; }

.ui.horizontal.label.empty {
  padding: 1em 0.5em; }

.saldo_negativo {
  color: red; }

.taba.comprobante {
  font-size: 0.8em; }
  .taba.comprobante .header h2 {
    float: left; }
  .taba.comprobante .header h3 {
    float: right;
    margin: 0.4em 0 0; }
  .taba.comprobante .cliente p, .taba.comprobante .bonificaciones p {
    margin: 0; }
  .taba.comprobante .cliente .dato, .taba.comprobante .bonificaciones .dato {
    display: inline-block;
    padding: 0.5em 1em 0.5em 0; }
  .taba.comprobante .bonificaciones {
    float: left; }
  .taba.comprobante .subtotales {
    float: right;
    width: 220px; }

label.file {
  position: relative;
  overflow: hidden;
  cursor: pointer; }
  label.file input[type="file"] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    font-size: 1px;
    filter: alpha(opacity=0);
    cursor: pointer;
    width: 10px;
    height: 10px; }

.taba.import.excel .body {
  max-height: 480px;
  overflow: auto;
  overflow-x: hidden; }

@media only screen and (min-width: 800px) {
  .main.ui.container {
    margin: 0.4em 0;
    width: 100%;
    padding: 0 1em; } }

table.pedidos th:nth-child(n+5) {
  width: 90px;
  font-size: 0.8em; }

table.pedidos th:nth-child(1) {
  width: 80px; }

table.pedidos th:nth-child(2) {
  width: 400px; }

table.pedidos th:nth-child(n+8) {
  width: 22%; }

table.pedidos .ui.mini.input input {
  max-width: 70px; }

html, body {
  position: relative;
  min-height: 100%;
  height: 100%; }

body {
  padding: 0;
  background: #FFFFFF; }

/*
body [ng-view] {
  padding:0 0.5em 0 1em;
}
*/
div.ngrs-value-runner > div.ngrs-value {
  display: block !important;
  font-size: 2em;
  line-height: 1em;
  color: #2868A0; }

.ui.icon.header {
  font-size: 0.9em; }
  .ui.icon.header .content {
    display: none; }

@media only screen and (min-width: 800px) {
  .ui.icon.header {
    font-size: 1.15em; }
    .ui.icon.header .content {
      display: block; } }

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none; }

.slideout-panel {
  position: relative;
  z-index: 1; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

#content_panel {
  padding: 35px 0 0;
  background: #FFF; }
