
<div class="ui vertical inverted menu">
  <a ng-repeat="item in taba.menu" href="#{{item.url}}" class="item {{item.align}}">
      <i class="{{item.icon}} icon"></i>{{item.title}}
  </a>
</div>
